<li class="<%= 'selected' if controller?('alaveteli_pro/dashboard') && action?('index') %>"">
  <%= link_to _("Dashboard"), alaveteli_pro_dashboard_path %>
</li>

<li class="<%= 'selected' if (controller?('alaveteli_pro/info_requests') && action?('index') || controller?('info_request_batch') && action?('show') || controller?('request') && action?('show') ) %>">
  <%= link_to _("Requests"), alaveteli_pro_info_requests_path %>
</li>

<li class="<%= 'selected' if (controller?('alaveteli_pro/info_requests') && action?('new', 'preview') || controller?('alaveteli_pro/batch_request_authority_searches') && action?('index') || controller?('alaveteli_pro/info_request_batches') && action?('new', 'preview')) %>">
  <%= link_to _("Make a request"), select_authority_path, :id => 'make-request-link' %>
</li>

<li class="<%= 'selected' if controller?('request') && !action?('new', 'select_authority', 'show') %>">
  <%= link_to _("Browse public requests"), request_list_successful_path %>
</li>

<li class="<%= 'selected' if controller?('public_body') %>">
  <%= link_to _("View authorities"), list_public_bodies_default_path %>
</li>

<li class="<%= 'selected' if controller?('general') && action?('blog') %>">
  <%= link_to "Blog", madada_blog_path %>
</li>

<li class="<%= 'selected' if controller?('help') %>">
  <%= link_to _("Help"), help_about_path %>
</li>

<li class="<%= 'selected' if controller?('general') && action?('stats') %>">
  <%= link_to _("Statistiques"), stats_path %>
</li>

<li class="<%= 'selected' if controller?('general') && action?('forum') %>">
  <%= link_to "Forum", forum_path %>
</li>
