<% if !request.xhr? && draft_batch_request.public_bodies.count >= AlaveteliConfiguration.pro_batch_authority_limit %>
  <div class="blank-slate"><%= _('No more authorities can be added to this batch request.') %></div>
<% else %>
  <% show_add_all = feature_enabled?(:pro_batch_category_add_all, current_user) %>
  <ul class="batch-builder__list">
  <% PublicBodyCategoryLink.by_display_order.group_by(&:public_body_heading).each do |heading, category_links| %>
    <li class="batch-builder__list__group">
      <div class="batch-builder__list__item">
        <span class="batch-builder__list__item__anchor">
          <span class="batch-builder__list__item__name">
            <%= heading.name %>
          </span>
        </span>
      </div>
      <ul>
      <% category_links.each do |category_link| %>
        <% category = category_link.public_body_category %>
        <% selected = category.category_tag == category_tag %>
        <li class="batch-builder__list__group <%= 'batch-builder__list__group--closed' unless selected %>">
          <div class="batch-builder__list__item">
            <% if category_link.count_of_bodies < 200 %>
              <%# less than 200 bodies, allow expanding the category %>
              <%= link_to alaveteli_pro_batch_request_authority_searches_path(mode: mode, category_tag: selected ? nil : category.category_tag, draft_id: draft_batch_request.id), class: 'batch-builder__list__item__anchor' do %>
                <span class="batch-builder__list__item__name">
                  <%= category.title %>
                  &nbsp;(<%= category_link.count_of_bodies %> entités)
                </span>
              <% end %>
            <% else %>
              <div>
                <span class="batch-builder__list__item__name batch-builder__list_item__name_no_expand">
                  <%= category.title %>
                  &nbsp;(<%= category_link.count_of_bodies %> entités)
                </span>
              </div>
            <% end %>

            <div class="batch-builder__list__item__action">
              <div class="batch-builder__list__item__action__add">
                <%= form_for(:alaveteli_pro_draft_info_request_batch,
                             url: update_bodies_alaveteli_pro_draft_info_request_batches_path,
                             method: :put,
                             html: { class: 'js-add-authority-to-batch-form' }) do |f| %>
                  <%= hidden_field_tag(:mode, mode) %>
                  <%= hidden_field_tag(:category_tag, category.category_tag) %>
                  <%= f.hidden_field(:draft_id, value: draft_batch_request.id, class: 'js-draft-id') %>
                  <%# let any pro user add bodies by category up to 100.
                      This covers departement, regions, etc... but excludes
                      very large groups like mairie.
                      Anything bigger requires the category_add_all permission.%>
                  <% if show_add_all or category_link.count_of_bodies < 100 %>
                    <%= f.hidden_field(:action, value: 'add-all') %>
                    <button type="submit"
                            class="add-authority-to-batch__form__submit
                                   js-add-authority-to-batch-submit
                                   button button--add">
                      <%= _('Add all') %>
                    </button>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <% if selected %>
            <%= render partial: 'public_bodies',
                       locals: {
                         draft_batch_request: @draft_batch_request,
                         body_ids_added: @body_ids_added
                       } %>
          <% end %>
        </li>
      <% end %>
      </ul>
    </li>
  <% end %>
  </ul>
<% end %>
