<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" >
    <%= csrf_meta_tags %>

    <title>
      <%= @title ? "#{ @title } -" : "" %> <%= site_name %> admin
    </title>

    <%= javascript_include_tag "admin" %>
    <%= javascript_include_tag "tagging_widgets" %>
    <%= stylesheet_link_tag "custom_admin", :rel => "stylesheet" %>
    <%= stylesheet_link_tag "admin", :title => "Main", :rel => "stylesheet" %>
    <%= stylesheet_link_tag 'admin/print', :rel => "stylesheet", :media => "print"  %>
    <%= render :partial => 'layouts/favicon' %>

  </head>
  <body class="admin">
    <div id="main" class="container">
      <%= render :partial => 'admin_general/admin_navbar' %>

      <% if flash[:error] %>
        <div class="row">
          <div class="span12">
            <div class="alert alert-error">
              <%= render_flash(flash[:error]) %>
            </div>
          </div>
        </div>
      <% end %>

      <% if flash[:notice] %>
        <div class="row">
          <div class="span12">
            <div class="alert alert-info">
              <%= render_flash(flash[:notice]) %>
            </div>
          </div>
        </div>
      <% end %>

      <%= yield  %>
    </div>

    <div class="admin-footer">
      <div class="container">
        <div class="row">
          <span class="span4 offset8">
            <ul class="nav nav-pills">
              <li>
                <a href="http://alaveteli.org/docs/running/admin_manual/">
                  Admin Manual
                </a>
              </li>
              <li>
                <a href="http://alaveteli.org/community/">
                  Alaveteli Community
                </a>
              </li>
            </ul>
          </span>
        </div>
      </div>
    </div>
  </body>
</html>
