<div id="right_column" class="sidebar right_column" role="complementary">
  <div class="sidebar__section new-request-cta">
    <%= render partial: 'general/new_request' %>
  </div>

  <!-- <div class="sidebar__section"> -->
  <!--   <h2>SAISINE CADA</h2> -->
  <!--   <%= mail_to "cada@ENLEVERcada.fr", "Saisir la CADA", {subject:"Saisine", body:@saisine_email_contents} %> -->
  <!-- </div> -->

  <div class="sidebar__section">
    <h2>TAGS</h2>
    <% if info_request.tags.size > 0 %>
      <% info_request.tags.each do |tag| %>
        <span class="label label-info tag"><%= tag.name_and_value %></span>
      <% end %>
    <% else %>
      Cette demande n'a pas de tags.
    <% end %>

    <!-- remove "false" below once the js code to update the page is working -->
    <% if false and not info_request.has_tag?("sujet") %>
      <div>
      Sélectionnez le thème de cette demande:
      <%= form_for(:info_request, url: '/api/v2/update_tags', method: :put) do |f| %>
        <%= f.select :tag_array, @theme_values,
                  { include_blank: false } %>
        <%= f.submit "Enregistrer le sujet" %>
      <% end %>
      </div>
    <% end %>
  </div>

  <%= render partial: 'sidebar_pro_upsell' %>

  <% if (feature_enabled?(:alaveteli_pro) &&
         can?(:create_embargo, info_request)) %>
    <%= render partial: 'alaveteli_pro/info_requests/embargo_form',
               locals: { info_request: info_request } %>
  <% end %>

  <% if info_request.attention_requested %>
    <%= render partial: 'request/attention_requested',
               locals: { info_request: info_request } %>
  <% end %>

  <div class="sidebar__section next-actions">
    <%= render partial: 'request/act',
               locals: { info_request: info_request } %>

    <%= render partial: 'request/next_actions' %>
  </div>

  <%= render partial: 'request/batch',
             locals: { info_request: info_request } %>

  <%= render partial: 'request/citations',
             locals: { citations: citations, info_request: info_request } %>

  <%= render partial: 'blog_posts/blog_posts',
             locals: { taggable: info_request } %>

  <% if similar_requests.any? %>
    <%= render partial: 'request/similar',
               locals: { info_request: info_request,
                         similar_requests: similar_requests,
                         similar_more: similar_more } %>
  <% end %>

  <div class="sidebar__section">
    <!-- this link with this wording is here for legal reasons, discuss with
         board and our lawyer before changing or removing it -->
    <p class="copyright-notice">
      <small>
        <%= link_to _('Are you the owner of any commercial copyright on this ' \
                      'page?'),
                    'https://doc.madada.fr/prada/gestion-des-demandes/#droit-dauteur' %>
      </small>
    </p>
  </div>
</div>
