#!/bin/bash
#
### BEGIN INIT INFO
# Provides: alaveteli-send-notifications
# Required-Start: $local_fs $syslog
# Required-Stop: $local_fs $syslog
# Default-Start: 2 3 4 5
# Default-Stop: 0 1 6
# Short-Description: alaveteli-send-notifications is a daemon running the Alaveteli notifications
# Description: alaveteli-send-notifications sends Alaveteli notifications as required
### END INIT INFO
#
# alaveteli-send-notifications Start the Alaveteli notification daemon

NAME=alaveteli-send-notifications
DAEMON={{ alaveteli_path }}/script/runner
DAEMON_ARGS="--daemon NotificationMailer.send_notifications_loop"
PIDDIR={{ alaveteli_path }}/tmp/pids
PIDFILE=$PIDDIR/alaveteli-send-notifications.pid
LOGDIR={{ alaveteli_path }}/log
LOGFILE=$LOGDIR/alaveteli-send-notifications.log
DUSER=alaveteli
SITE_HOME={{ alaveteli_path }}
# Set RAILS_ENV - not needed if using config/rails_env.rb
# RAILS_ENV=your_rails_env
# export RAILS_ENV
PATH=/usr/local/bin:/usr/bin:/bin
RBENV_ROOT="/home/alaveteli/.rbenv"
PATH="$RBENV_ROOT/bin:$RBENV_ROOT/shims:$PATH"

trap "" 1

export PIDFILE LOGFILE

quietly_start_daemon() {
    mkdir -p {$LOGDIR,$PIDDIR}
    chown $DUSER:$DUSER {$LOGDIR,$PIDDIR}
    /sbin/start-stop-daemon --quiet --start --pidfile "$PIDFILE" --user "$DUSER" --chuid "$DUSER" --chdir "$SITE_HOME" --startas "$DAEMON" -- $DAEMON_ARGS
}

start_daemon() {
    mkdir -p {$LOGDIR,$PIDDIR}
    chown $DUSER:$DUSER {$LOGDIR,$PIDDIR}
    /sbin/start-stop-daemon --start --pidfile "$PIDFILE" --user "$DUSER" --chuid "$DUSER" --chdir "$SITE_HOME" --startas "$DAEMON" -- $DAEMON_ARGS
}

stop_daemon() {
    /sbin/start-stop-daemon --stop --oknodo --retry 5 --user "$DUSER" --pidfile "$PIDFILE"
}

restart() { stop; start; }

case "$1" in
  check)
      quietly_start_daemon
      if [ $? -ne 1 ]
      then
          echo "Alaveteli notification daemon was not running; now restarted"
          exit 1
      else
          exit 0
      fi
      ;;

  start)
      echo -n "Starting Alaveteli notification daemon: $NAME"
      start_daemon
      ;;

  stop)
        echo -n "Stopping Alaveteli notification daemon: $NAME"
        stop_daemon
        ;;

  restart)
      echo -n "Restarting Alaveteli notification daemon: $NAME"
      stop_daemon
      start_daemon
      ;;

  *)
    echo "Usage: /etc/init.d/$NAME {start|stop|restart|check}"
    exit 1
    ;;
esac

if [ $? -eq 0 ]; then
    echo .
    exit 0
else
    echo " failed"
    exit 1
fi
