#!/bin/bash

# check that various components of alaveteli are running as expected

ERROR_COUNT=0

DOVECOT_RUNNING=`ps aux | grep dovecot | grep -v grep | wc -l`
if [[ $DOVECOT_RUNNING -ge 1 ]]; then
    OUTPUT+=$'  Dovecot running\n'
else
    OUTPUT+=$':warning: Dovecot is DEAD, restart with /etc/init.d/dovecot restart\n'
    let ERROR_COUNT++
fi

MAIL_POLLER_RUNNING=`ps aux | grep AlaveteliMailPoller | grep -v grep | wc -l`
if [[ $MAIL_POLLER_RUNNING -ge 1 ]]; then
    OUTPUT+=$'  Mail poller running\n'
else
    OUTPUT+=$':warning: Mail poller is DEAD, restart with /etc/init.d/alaveteli-poll-for-incoming\n'
    let ERROR_COUNT++
fi

PRO_NOTIFICATIONS=`ps aux | grep NotificationMailer | grep -v grep | wc -l`
if [[ $PRO_NOTIFICATIONS -ge 1 ]]; then
    OUTPUT+=$'  Pro notifications daemon running\n'
else
    OUTPUT+=$':warning: Pro notifications daemon is DEAD, restart with /etc/init.d/alaveteli-send-notifications\n'
    let ERROR_COUNT++
fi

TRACK_ALERTS=`ps aux | grep TrackMailer | grep -v grep | wc -l`
if [[ $TRACK_ALERTS -ge 1 ]]; then
    OUTPUT+=$'  Track alerts daemon running\n'
else
    OUTPUT+=$':warning: Track alerts daemon is DEAD, restart with /etc/init.d/alaveteli-alert-tracks\n'
    let ERROR_COUNT++
fi

SUBJECT=$'Subject: MaDada health report\n\n'

if [[ $ERROR_COUNT -ge 1 ]]; then
    echo "$SUBJECT$OUTPUT" | /usr/sbin/sendmail "{{ webmaster_email }}"
# else
    # Anything echo'd here will be emailed to webmaster
    # echo "No errors found"
fi
