#! /bin/sh
### BEGIN INIT INFO
# Provides:          application-passenger-alaveteli
# Required-Start:    $local_fs $network
# Required-Stop:     $local_fs $network
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Starts the Passenger app server for the "alaveteli" site
# Description:       The Passenger app server for the "alaveteli" site
### END INIT INFO
# This example sysvinit script is based on the helpful example here:
# http://richard.wallman.org.uk/2010/02/howto-deploy-a-catalyst-application-using-fastcgi-and-nginx/

# possibly update /etc/nginx/conf.d/mod-http-passenger.conf to point to rbenv version
# CMD="cd $SITE_HOME; rbenv rehash; rbenv local 3.2.2; $CMD"
RBENV_ROOT="/home/alaveteli/.rbenv"
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
PATH="$RBENV_ROOT/bin:$RBENV_ROOT/shims:$PATH"
NAME=alaveteli
SITE_HOME={{ alaveteli_path }}
DESC="Alaveteli app server"
USER=alaveteli

set -e

start_daemon() {
  echo -n "Starting $DESC: "
  rm -f "$SITE_HOME/public/down.html"
  echo "$NAME."
}

stop_daemon() {
  echo -n "Stopping $DESC: "
  ln -sf "$SITE_HOME/public/down.default.html" "$SITE_HOME/public/down.html"
  echo "$NAME."
}

restart_daemon() {
  echo -n "Restarting $DESC: "
  rm -f "$SITE_HOME/public/down.html"
  touch "$SITE_HOME/tmp/restart.txt"
  echo "$NAME."
}

case "$1" in
  start)
    start_daemon
    ;;
  stop)
    stop_daemon
    ;;
  reload|restart|force-reload)
    restart_daemon
    ;;
  *)
    N=/etc/init.d/$NAME
    echo "Usage: $N {start|stop|reload|restart|force-reload}" >&2
    exit 1
    ;;
esac

exit 0
