##
## SSL settings
##

ssl = no
# certs below are not actually used unless ssl is set to yes or required above
ssl_cert = </etc/letsencrypt/live/{{ site_domain }}/fullchain.pem
ssl_key = </etc/letsencrypt/live/{{ site_domain }}/privkey.pem
#ssl_key_password =
#ssl_parameters_regenerate = 168
ssl_min_protocol =
ssl_cipher_list =

# Client certificate support
#ssl_ca =
#ssl_require_crl = yes
#ssl_verify_client_cert = no
#ssl_cert_username_field = commonName
