# Redirect any http:// request to https://www.example.com
server {
  server_name {{ stats_site_url }};
  rewrite ^(.*) https://{{ stats_site_url }}$request_uri permanent;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name {{ stats_site_url }};

    # we shouldn't need to upload anything big to metabase
    client_max_body_size 1M;

    server_tokens off;

    access_log /var/log/nginx/metabase_ssl_access.log;
    error_log /var/log/nginx/metabase_ssl_error.log error;

    location / {
        proxy_pass http://127.0.0.1:3000;
    }

    ssl_certificate /etc/letsencrypt/live/{{ stats_site_url }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ stats_site_url }}/privkey.pem;

    # ssl_ciphers ECDHE-RSA-AES256-SHA384:AES256-SHA256:RC4:HIGH:!MD5:!aNULL:!EDH:!AESGCM;
    # secure default from https://docs.nginx.com/nginx/admin-guide/security-controls/terminating-ssl-http/#setting-up-an-https-server
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers HIGH:!aNULL:!MD5;
}
