/^{{ incoming_email_short_prefix }}.*/                this-is-ignored
/^contact@/             this-is-ignored
/^bourriquet@/             this-is-ignored
/^postmaster@/          this-is-ignored
/^abuse@/          this-is-ignored
/^support@/        this-is-ignored
/^team@/                this-is-ignored
/^webmaster@/          this-is-ignored
/^dpo@/          this-is-ignored
