contact: {{ contact_madada_forward_emails }}
bourriquet: {{ bourriquet_forward_emails }}
ne-pas-repondre:     /dev/null
support: {{ webmaster_email }}
postmaster: {{ postmaster_email }}
abuse: {{ postmaster_email }}
webmaster: {{ webmaster_email }}
dadaredirect: {{ pop_mailer_username }}, backupfoi
dpo: {{ dpo_email }}
