# This robots.txt file is for the staging version of the site,
# It disables all crawling/indexing on staging, as we only want the main site
# registered on search engines.
#
# See http://www.robotstxt.org/wc/norobots.html for documentation on how to use
# the robots.txt file

{% if inventory_hostname == 'madada.fr' %}
# Mainly to reduce server load from bots, we block pages which are actions, and
# searches. We also block /feed/, as RSS readers (rightly, I think) don't seem
# to check robots.txt.

# This file uses the non-standard extension characters * and $, which
# are supported by Google and Yahoo! and the 'Allow' directive, which
# is supported by Google.

#   http://code.google.com/web/controlcrawlindex/docs/robots_txt.html
#   http://help.yahoo.com/l/us/yahoo/search/webcrawler/slurp-02.html

User-agent: SemrushBot
Disallow: /

User-agent: AhrefsBot
Disallow: /

User-agent: Amazonbot
Disallow: /

User-agent: BLEXBot
Disallow: /

User-agent: MJ12bot
Disallow: /

# copied from upstream alaveteli
User-agent: *
Disallow: */annotate/*
Disallow: */new/*
Disallow: */search/*
Disallow: */similar/*
Disallow: */track/*
Disallow: */upload/*
Disallow: */user/*
Disallow: */feed/*
Disallow: */profile/*
Disallow: */signin*
Disallow: */sign_in*
Disallow: */tor*
Allow: */request/*/response/*/attach/*
Disallow: */request/*/response/*
Disallow: */request/*/download*
Disallow: */body/*/view_email$
Disallow: */change_request/*
Disallow: /nouvelle_demande/*
Disallow: */outgoing_messages/*/mail_server_logs*
Disallow: */outgoing_messages/*/delivery_status*
Disallow: *?*update_status=1*
{% else %}
# block all bots on staging site, there is nothing worth indexing here
User-agent: *
Disallow: /
{% endif %}
