[Unit]
Description="Sidekiq service for alaveteli"
After=syslog.target network.target

[Service]
Type=notify

WatchdogSec=10

User=alaveteli
Group=alaveteli
UMask=0002

WorkingDirectory={{ alaveteli_path }}

ExecStart=/bin/bash -ilc 'bundle exec sidekiq -e production'

RestartSec=1
Restart=always

[Install]
WantedBy=multi-user.target
