<!DOCTYPE html>
<title>Maintenance en cours</title>
<style>
  body { text-align: center; padding: 150px; }
  h1 { font-size: 50px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>

<article>
    <h1>Ma Dada remonte en selle bientôt!</h1>
    <div>
        <p>Maintenance en cours, le site est temporairement indisponible. Nous faisons de notre mieux pour minimiser la durée de cette situation inconfortable.</p>
        <p>Désolés pour le dérangement!</p>
    </div>
</article>
