<%= _('{{user_name}} would like the email address for {{public_body_name}} ' \
      'to be updated',
      user_name: @change_request.get_user_name.html_safe,
      public_body_name: @change_request.get_public_body_name.html_safe) %>

<%= _('Current Email:') %>
<%= @change_request.current_public_body_email %>

<%= _('Proposed Email:') %>
<%= @change_request.public_body_email %>

<%= _('Source:') %>
<%= @change_request.source_url %>

<%= _('Notes:') %>
<%= @change_request.notes %>

<%= _('Update the address:') %>
<%= edit_admin_body_url(@change_request.public_body,
                        change_request_id: @change_request.id) %>

<%= _('Close the request and respond:') %>
<%= edit_admin_change_request_url(@change_request) %>

Comment gérer ce mail?
https://doc.madada.fr/admins/guide-support-admins/#demande-dajout-ou-de-modification-dune-nouvelle-autorite-administrative
