<label class="houdini-label input-account-request-button button" for="input-account-request">
  <%= _('Request access to {{pro_site_name}}', pro_site_name: pro_site_name) %>
</label>
<input class="houdini-input" type="checkbox" id="input-account-request" <% if params[:account_request].present? %>checked="true"<% end %>>
<%= form_for :account_request,
  url: "#{account_request_index_path}#input-account-request",
  html: {class: 'houdini-target form account-request-signup-form'} do |f| %>
  <h3>
    <%= _('Request access to {{pro_site_name}}',
          pro_site_name: pro_site_name) %>
  </h3>
  <%= foi_error_messages_for :account_request %>
  <div>
    <label for="account_request_email">
      <strong>
        <%= _('Email address') %>
      </strong>
    </label>
    <%= f.email_field :email, size: 20, required: true %>
  </div>
  <div>
    Avant de remplir ce formulaire, créez un compte (normal) sur Ma dada si vous n'en avez pas.
    Dans tous les cas, n'oubliez pas d'inclure l'adresse de courriel liée à votre compte dans
    votre message ci-dessous.
  </div>
  <div>
    En demandant l&apos;accès aux fonctions Ma Dada ++, vous vous engagez à respecter la&nbsp;
    <a href="https://doc.madada.fr/usagers/charte">charte d&apos;usage</a> du site.
  </div>
  <div>
    <label for="account_request_reason">
      <strong>
         <%= _('Why do you want access?') %>
      </strong>
      <%= _('Please include links to some examples of your journalism or ' \
            'blogging if you can.') %>
    </label>
    <%= f.text_area :reason, rows: 10, cols: 50, required: true %>
  </div>
  <div>
    <label for="account_request_training_emails">
      <%= _('Are you interested in free training, seminars and workshops ' \
            'about {{pro_site_name}}?',
            pro_site_name: pro_site_name) %>
    </label>
    <div class="inline-elements">
      <label for="account_request_training_emails_yes" class="inline-element">
      <%= f.radio_button 'training_emails', 'yes', required: true %>
        <%= _("Yes") %>
      </label>
      <label for="account_request_training_emails_no" class="inline-element">
      <%= f.radio_button 'training_emails', 'no', required: true %>
        <%= _("No") %>
      </label>
    </div>
  </div>
  <div>
    <label for="account_request_marketing_emails">
      <%= _('Get email updates about {{pro_site_name}}?',
            pro_site_name: pro_site_name) %>
    </label>
    <div class="inline-elements">
      <label for="account_request_marketing_emails_yes" class="inline-element">
      <%= f.radio_button 'marketing_emails', 'yes', required: true %>
        <%= _("Yes") %>
      </label>
      <label for="account_request_marketing_emails_no" class="inline-element">
      <%= f.radio_button 'marketing_emails', 'no', required: true %>
        <%= _("No") %>
      </label>
    </div>
  </div>

  <input type="submit" value="Envoyer la demande" />
<% end %>
