<%= form_tag([:alaveteli_pro, @draft_info_request],
             :method => @draft_info_request.id ? :put : :post,
             :id => 'write_form',
             :class => 'new_info_request') do %>

  <%= fields_for @info_request do |f| %>

    <%= f.hidden_field(:public_body_id, :class => 'js-public-body-id') %>

    <div id="request_subject" class="request_subject">
      <p>
        <label class="form_label" for="info_request_title">
          Objet
        </label>
        <%= f.text_field :title, :size => 50 %>
      </p>
      <div class="form_item_note">
        <p>
        <%= _("A one line summary of the information you are requesting, e.g.") %>
        <%= render :partial => "request/summary_suggestion" %>
        </p>
        <p>
        Pas la peine de spécifier "Demande de droit d&apos;accès...", Ma Dada le fait pour vous!
        </p>
      </div>
    </div> <!-- .request_subject -->

    <%= fields_for @outgoing_message do |o| %>
      <p>
        <label class="form_label" for="outgoing_message_body">
          <%= _('Your request') %></label>
        <%= o.text_area :body, :rows => 20,
                               :cols => 60,
                               :class => 'js-outgoing-message-body',
                               'data-salutation-template' => OutgoingMessage::Template::InitialRequest.placeholder_salutation,
                               'data-salutation-body-name' => OutgoingMessage::Template::InitialRequest.placeholder_body_name %>
      </p>
    <% end %>

    <div class="request_embargo">
      <p>
        <label class="form_label" for="embargo_embargo_duration">
          <%= _('Privacy') %>
        </label>
        <%= fields_for :embargo do |e| %>
          <%= e.select :embargo_duration,
                       options_for_select(
                         publish_at_options,
                         :selected => ''
                       ),
                       {},
                       { class: 'js-embargo-duration' } %>
        <% end %>
      </p>
      <div class="form_item_note">
        <%= render partial: "embargo_info",
                 locals: { embargo: @embargo, tense: :future } %>
        <%= render partial: "alaveteli_pro/info_requests/embargo_note" %>
      </div>
    </div> <!-- .request_embargo -->

    <div class="form_button">
      <button name="preview" value="true" class="button">
        <%= _("Preview and send request") %>
      </button>
      <button class="button-tertiary"><%= _("Save draft") %></button>
    </div>

  <% end %>

<% end %>
