<p>
  En envoyant une demande via Ma Dada, vous vous engagez à respecter notre <a href="https://doc.madada.fr/usagers/charte">charte d&apos;usage</a>.
</p>

<p>
  <%= _("<strong>Can I request information about myself?</strong> " \
        "<a href=\"{{url}}\">No!</a>",
        :url => help_requesting_path(:anchor => "data_protection").html_safe) %>
</p>
<p>
  <strong>
    <%= _("Are you sure the information you’re after isn’t available " \
       "elsewhere?") %>
  </strong>
  <%= _("Check the authority’s responses on {{site_name}} or conduct " \
        "a quick Internet search.", site_name: site_name) %>
</p>
<p>
  <%= _("Once you’re happy with your request, click preview and send.") %>
  <strong>
    Pour rappel, les autorités publiques ont <a href="https://doc.madada.fr/prada/gestion-des-demandes/#gestion-des-delais">un mois</a> pour répondre aux demandes d'accès aux documents publics.
  </strong>
</p>
<p>
  <%= _('Once the privacy period ends, everything that you enter on ' \
        'this page, including <strong>your name</strong>, will be ' \
        '<strong><a href="{{url}}">displayed publicly</a></strong> on this ' \
        'website.',
        :url => help_privacy_path(:anchor => "public_request").html_safe) %>
</p>
