<script>
  jQuery('#user_locale_switcher').find('.locale-list-trigger').each(function() {
    jQuery(this).click(function(){
      jQuery(this).parent().toggleClass('active');
    });
  });
</script>
<%= javascript_include_tag "tagging_widgets" %>
