<!-- describe the form content for states that do not end the lifecycle of a request.
  See https://alaveteli.org/docs/customising/themes/#customising-the-request-states
-->
<div>
  <!-- the content displayed on the "select state" form -->
  <%= radio_button "classification", "described_state", "saisine_cada", :id => "saisine_cada#{id_suffix}" %>
  <label for="saisine_cada<%=id_suffix%>"><%= _('Une saisine a été envoyée à la CADA') %></label>
</div>
