<li class="<%= 'selected' if controller?('request') && action?('new', 'select_authority') %>">
  <%= link_to _("Make a request"), select_authority_path, :id => 'make-request-link' %>
</li>

<li class="<%= 'selected' if controller?('request') && !action?('new', 'select_authority') %>">
  <%= link_to _("Browse requests"), request_list_all_path %>
</li>

<li class="<%= 'selected' if controller?('public_body') %>">
  <%= link_to _("View authorities"), list_public_bodies_default_path %>
</li>

<li class="<%= 'selected' if controller?('general') && action?('madada_blog') %>">
  <%= link_to _("Blog"), madada_blog_path %>
</li>

<li class="<%= 'selected' if controller?('help') %>">
  <%= link_to _("Help"), help_about_path %>
</li>

<li class="<%= 'selected' if controller?('general') && action?('stats') %>">
  <%= link_to _("Statistiques"), stats_path %>
</li>

<li class="<%= 'selected' if controller?('general') && action?('forum') %>">
  <%= link_to "Forum", forum_path %>
</li>
