<div class="footer" id="footer" role="contentinfo">
  <div class="row">
    <div class="footer__about">
      <p> Ma Dada est un projet de</p>
      <a href="https://okfn.fr" target="_blank">
        <div style="background-image: url(/assets/OK_LG_LOGO_FRANCE_RGB.png);background-size: 200px;/*! width: 100px; */height: 100px;background-repeat: no-repeat;margin-bottom: 1em">
        </div>
        <p>l'association OpenKnowledge France</p>
      </a>
      <ul class="about__contact-links">
        <li>
          <%= link_to _('Contact us'), help_contact_path %>
        </li>
        <li>
          <a href="https://doc.madada.fr/usagers/charte/">Charte d'usage</a>
        </li>
        <li>
          <%= link_to_unless_current "Mention légales - Politique de Confidentialité", help_privacy_path %>
        </li>
        <% if feature_enabled?(:pro_pricing) %>
          <li>
            <%= link_to _('{{pro_site_name}} Terms',
              pro_site_name: pro_site_name),
              pro_page_path(:id => 'legal') %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-sm-3 footer__about" style="padding: 2em; background-color:gray; border-radius: 5px">
      <div class="madada-footer__donate">
        <p>
          Vos dons nous permettent de maintenir Ma Dada.
        </p>
        <p>
          Soutenez-nous <a href="https://liberapay.com/madada/">sur Liberapay</a> ou <a href="https://www.helloasso.com/associations/open-knowledge-france/collectes/ma-dada-2022-pariez-sur-nous">via HelloAsso</a>.
        </p>
      </div>
    </div>
  </div>
  <div class="footer__final">
    <div class="row">
      <div class="final__social-links">
        <ul>
          <li>
            <a href="https://gitlab.com/madada-team">
              <div style="background-image: url(/assets/gitlab.svg);width: 30px;height: 30px;background-repeat: no-repeat;margin-bottom: 1em"></div>
              Code source</a>
          </li>
          <li>
            <a href="https://twitter.com/madadafr">
              <div style="background-image: url(/assets/twitter.svg);width: 30px;height: 30px;margin-bottom: 1em"></div>
              Twitter</a>
          </li>
          <li>
            <a href="https://mamot.fr/@madadafr">
              <div style="background-image: url(/assets/mastodon.svg);width: 30px;height: 30px;margin-bottom: 1em"></div>
              Mastodon</a>
          </li>
          <li>
            <a href="https://aperi.tube/c/madada_channel/videos">
              <div style="background-image: url(/assets/peertube.svg);width: 30px;height: 30px;margin-bottom: 1em"></div>
              Vidéos</a>
          </li>
          <li>
            <a href="https://forum.madada.fr">
              <div style="background-image: url(/assets/discourse.svg); width: 30px;height: 30px;margin-bottom: 1em"></div>
              Forum</a>
          </li>
          <% unless AlaveteliConfiguration::twitter_username.blank? %>
            <li>
              <a href="https://twitter.com/<%= AlaveteliConfiguration::twitter_username %>" class="social-link social-link--twitter" onclick="<%= track_analytics_event(AnalyticsEvent::Category::OUTBOUND, AnalyticsEvent::Action::TWITTER_EXIT, :label => "Footer link")%>">@<%= AlaveteliConfiguration::twitter_username %></a>
            </li>
          <% end %>
          <% unless AlaveteliConfiguration::facebook_username.blank? %>
            <li>
              <a href="https://facebook.com/<%= AlaveteliConfiguration::facebook_username %>" class="social-link social-link--facebook" onclick="<%= track_analytics_event(AnalyticsEvent::Category::OUTBOUND, AnalyticsEvent::Action::FACEBOOK_EXIT, :label => "Footer link")%>">/<%= AlaveteliConfiguration::facebook_username %></a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
