:root {
  --md-primary-fg-color:        #0B6BA8;
}

.form_saisine_cada input[text] {
  width: 40em;
}

// repatriate google fonts at build time so we do not load any external assets
// docs: https://squidfunk.github.io/mkdocs-material/setup/changing-the-fonts/#customization
// Code below copied from dev tools/inspector/fonts tab :)

// src: https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fBBc4.woff2
@font-face { font-family: "Roboto"; src: url("stylesheets/KFOlCnqEu92Fr1MmSU5fBBc4.woff2") format("woff2"); font-style: normal; font-weight: 300; font-display: fallback; unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
// src: https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxK.woff2
@font-face { font-family: "Roboto"; src: url("stylesheets/KFOmCnqEu92Fr1Mu4mxK.woff2") format("woff2"); font-style: normal; font-weight: 400; font-display: fallback; unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
// src: https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBBc4.woff2
@font-face { font-family: "Roboto"; src: url("stylesheets/KFOlCnqEu92Fr1MmWUlfBBc4.woff2") format("woff2"); font-style: normal; font-weight: 700; font-display: fallback; unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
// src: https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW4.woff2
@font-face { font-family: "Roboto Mono"; src: url("stylesheets/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW4.woff2") format("woff2"); font-style: normal; font-weight: 400; font-display: fallback; unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

:root {
  --md-text-font: "Roboto";
}
:root {
  --md-code-font: "Roboto Mono";
}
