<% if user && user.admin_page_links? %>
  <%= _('{{user}} ({{user_admin_link}}) made this {{law_used_full}} request ' \
        '(<a href="{{request_admin_url}}">admin</a>) to {{public_body_link}} ' \
        '(<a href="{{public_body_admin_url}}">admin</a>) as part of ' \
        '<a href="{{url}}">a batch sent to {{count}} authorities</a>',
        user: request_user_link(info_request, _('An anonymous user')),
        law_used_full: h(info_request.legislation.to_s(:full)),
        user_admin_link:
          user_admin_link_for_request(info_request, _('external'), _('admin')),
        request_admin_url: admin_request_url(info_request),
        public_body_link: public_body_link(info_request.public_body),
        public_body_admin_url: admin_body_url(info_request.public_body),
        url: info_request_batch_path(info_request.info_request_batch),
        count: info_request.info_request_batch.public_bodies.count) %>
<% elsif @user.nil? %>
  Quelqu'un a fait cette demande de droit d'accès à l'information à <%= public_body_link(info_request.public_body) %> dans le cadre d'un <a href="<%= info_request_batch_path(info_request.info_request_batch) %>">lot envoyé à <%= info_request.info_request_batch.public_bodies.count %> autorités</a>
<% else %>
  <%= _('{{user}} made this {{law_used_full}} request to {{public_body}} as ' \
        'part of <a href="{{url}}">a batch sent to {{count}} authorities</a>',
        user: request_user_link(info_request, _('An anonymous user')),
        law_used_full: h(info_request.legislation.to_s(:full)),
        public_body: public_body_link(info_request.public_body),
        url: info_request_batch_path(info_request.info_request_batch),
        count: info_request.info_request_batch.public_bodies.count) %>
<% end %>
