<% if user && user.admin_page_links? %>
  <%= _('{{user}} ({{user_admin_link}}) made this {{law_used_full}} request ' \
        '(<a href="{{request_admin_url}}">admin</a>) to {{public_body_link}} ' \
        '(<a href="{{public_body_admin_url}}">admin</a>)',
        user: request_user_link(info_request, _('An anonymous user')),
        law_used_full: h(info_request.legislation.to_s(:full)),
        user_admin_link:
          user_admin_link_for_request(info_request, _('external'), _('admin')),
        request_admin_url: admin_request_url(info_request),
        public_body_link: public_body_link(info_request.public_body),
        public_body_admin_url: admin_body_url(info_request.public_body)) %>
<% elsif @user.nil? %>
  Quelqu'un a fait cette demande de droit d'accès à l'information à <%= public_body_link(info_request.public_body) %>
<% else %>
  <%= _('{{user}} made this {{law_used_full}} request to {{public_body}}',
        user: request_user_link(info_request, _('An anonymous user')),
        law_used_full: h(info_request.legislation.to_s(:full)),
        public_body: public_body_link(info_request.public_body)) %>
<% end %>
