<%= foi_error_messages_for :admin_user %>

<!--[form:admin_user]-->

<div class="control-group">
  <label for="admin_user_name" class="control-label">Nom</label>
  <div class="controls">
    <%= text_field 'admin_user', 'name', :class => "span3" %>
    <div class="help-block">
      Changer ce nom casse les URLs, et il n'y a pas d&apos;historique ni de redirections.
    </div>
  </div>
</div>

<div class="control-group">
  <label for="admin_user_email" class="control-label">Email</label>
  <div class="controls">
    <%= text_field 'admin_user', 'email', :class => "span3"  %>
    <div class="help-block">
      <strong>Doit</strong> d&apos;abord être validé.
    </div>
  </div>
</div>


<div class="control-group">
  <div class="control-label">Roles</div>
  <div class="controls">
    <% Role.where(name: Role.grantable_roles).order(:name).each do |role| %>
      <div>
        <label class="checkbox-inline">
          <%= check_box_tag "admin_user[role_ids][]",
                            role.id,
                            @admin_user.roles.include?(role),
                            :disabled => !@user.can_admin_role?(role.name.to_sym) %>
          <% if !@user.can_admin_role?(role.name.to_sym) &&
             @admin_user.roles.include?(role) %>
            <%= hidden_field_tag "admin_user[role_ids][]",
                                 role.id %>
          <% end %>
          <%= role.name %>
        </label>
      </div>
    <% end %>
    <div class="help-block">
      <strong>admin</strong> a accès à cette interface et peut voir les demandes cachées (mais pas sous embargo)<br/>
      <% if feature_enabled? :alaveteli_pro %>
         <strong>pro</strong> a accès aux fonctions pro (Ma Dada++)<br/>
         <strong>pro_admin</strong> peut voir et gérer les demandes sous embargo<br/>
      <% end %>
      <a style="padding: 0.2em; background-color: lightgray; border-radius: 3px; font-weight: bolder;" href="https://doc.madada.fr/admins/guide-support-admins/#gestion-des-roles">Aide</a>
    </div>
  </div>
</div>

<div class="control-group">
  <div class="control-label">Features</div>
  <div class="controls">
    <% @admin_user.features.each do |feature| %>
      <div>
        <label class="checkbox-inline">
          <%= check_box_tag "admin_user[features][]",
                            feature.key,
                            feature.enabled?,
                            :disabled => feature.roles? %>
          <% if feature.roles? && feature.enabled? %>
            <%= hidden_field_tag "admin_user[features][]", feature.key %>
          <% end %>
          <%= feature.label %>
        </label>
      </div>
    <% end %>
  </div>
</div>

<div class="control-group">
  <label for="ban_text" class="control-label">Ban text</label>
  <div class="controls">
    <%= text_area 'admin_user', 'ban_text', :class => "span6", :rows => 3  %>
    <div class="help-block">
      Si ce champ n'est pas vide, ce compte ne pourra pas envoyer de nouvelles demandes,
      annoter de demandes ou envoyer de messages à d&apos;autres usagers du site.
      Ce texte est public, donc ne pas y inclure d&apos;info confidentielle. Il est aussi
      montré quand l&apos;usager tente d&apos;effectuer une action interdite.
      forbidden action; write in the second person (you); voir
      <%= link_to 'la liste des comptes bloqués', banned_admin_users_path %> pour des examples</small>
    </div>
  </div>
</div>

<div class="control-group">
  <label for="about_me" class="control-label">À propos</label>
  <div class="controls">
    <%= text_area 'admin_user', 'about_me', :class => "span6", :rows => 3  %>
    <div class="help-block">
      Texte fourni par l&apos;usager dans son profil.
    </div>
  </div>
</div>
<div class="control-group">
  <label for="admin_user_no_limit" class="control-label">No rate limit</label>
  <div class="controls">
    <%= check_box 'admin_user', 'no_limit' %>
    <div class="help-block">
      désactive la limite de demandes envoyées par jour (config actuelle: `MAX_REQUESTS_PER_USER_PER_DAY`: <%= AlaveteliConfiguration::max_requests_per_user_per_day %>)
    </div>
  </div>
</div>
<div class="control-group">
  <label for="admin_user_can_make_batch_requests" class="control-label">Peut envoyer des batchs</label>
  <div class="controls">
    <%= check_box 'admin_user', 'can_make_batch_requests' %>
    <div class="help-block">
      autoriser ce compte à envoyer une demande à plusieurs autorité à la fois
    </div>
  </div>
</div>
<div class="control-group">
  <label for="admin_user_confirmed_not_spam" class="control-label">Pas un spammeur</label>
  <div class="controls">
    <%= check_box 'admin_user', 'confirmed_not_spam' %>
    <div class="help-block">
      Confirme que le compte n&apos;est pas utilisé pour spammer.
    </div>
  </div>
</div>
