<div id="right_column_flip" class="right_column_flip">
<h2>Pages d'aide</h2>
<ul class="no_bullets">
  <li><%= link_to_unless_current "Envoyer des demandes", help_requesting_path %></li>
  <li><%= link_to_unless_current "Modèles de demandes", help_templates_path %></li>
  <li><%= link_to_unless_current "En cas de refus", help_cada_path %></li>
  <li><%= link_to_unless_current "FAQ pour les administrations", 'https://doc.madada.fr/prada/' %></li>
  <li><%= link_to_unless_current "Développeurs API", help_api_path %></li>
  <li><%= link_to_unless_current "Recherche avancée", advanced_search_path %></li>
  <% if feature_enabled?(:alaveteli_pro) %>
    <li><%= link_to_unless_current "Fonctions avancées", help_pro_path %></li>
  <% end %>
</ul>

<h2>À propos</h2>
<ul class="no_bullets">
  <li><%= link_to_unless_current "À propos du site", help_about_path %></li>
  <li><%= link_to_unless_current "À propos du logiciel", help_alaveteli_path %></li>
  <li><%= link_to_unless_current "Politique de confidentialité", help_privacy_path %></li>  
</ul>

<h2 id="contact" class="contact">Contactez-nous</h2>
<p>
  Si vous ne trouvez pas de réponse à votre question dans ces pages d’aide ou si vous souhaitez nous transmettre un commentaire sur ce site,
  <a href="<%= help_contact_path %>">contactez-nous</a>.
</p>
</div>
