<% @title = "Envoyer des demandes" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1 id="making_requests"><%= @title %> <a href="#making_requests">#</a></h1>
  <dl>

    <dt id="which_authority">Je ne sais pas à quelle autorité envoyer ma demande, comment savoir laquelle choisir ? <a href="#which_authority">#</a> </dt>

    <dd>
      <p>
        Il n'est pas toujours simple de comprendre la structure complexes des autorités administratives publiques et de savoir quelle 
        autorité détient l'information dont vous avez besoin. Voici quelques suggestions d'aide :
      </p>
      <ul>
        <li>parcourir ou rechercher sur <%= site_name %> des requêtes similaires à la vôtre;</li>
        <li>lorsque vous avez repéré une autorité susceptible de détenir l'information dont vous avez besoin,
         utilisez le bouton « Page d'accueil de l'autorité administrative » à droite de la page de l'autorité, 
         pour voir sur leur site si cela est en effet le cas;</li>
        <li>contacter l'autorité par téléphone ou par email pour demander s'ils ont 
          l'information dont vous avez besoin;</li>
        <li>si vous vous trompez d’autorité, elle pourra peut-être vous indiquer à qui vous devriez faire la demande;
        </li>
        <li>si vous êtes confronté à un cas difficile, vous pouvez <a href="<%= help_contact_path %>">nous contacter</a> pour nous demander de l'aide.</li>
      </ul>

    </dd>



    <dt id="missing_body">L'autorité que je souhaite contacter n'apparaît pas dans votre liste <a href="#missing_body">#</a> </dt>

    <dd>
      <p>
	Veuillez <a href="<%= new_change_request_path %>">nous contacter</a> en nous donnant le nom de l'autorité et, si vous l'avez, son adresse email PRADA de contact, ou le cas échéant une adresse email générique de contact. 
      </p>
      <p>
	Les adresses des PRADA (Personnes Responsables de l'Accès Aux Documents Administratifs) des autorités qui ont bien voulu se conformer à cette obligation de nomination sont publiées sur l'<a href="https://www.cada.fr/lacada/annuaire-des-prada">annuaire des PRADA</a> par la CADA (Commission d'Accès aux Documents Administratifs). Les adresses génériques email des autorités se trouvent souvent sur leur site internet officiel, dans leurs sections Contact ou Mentions légales. L'<a href="https://lannuaire.service-public.fr">annuaire du service public</a> peut également les indiquer. 
      </p>
      <p>
	Votre aide pour compléter la liste des autorités publiques nous sera très utile. 
      </p>

    </dd>

    <dt id="authorities">Pourquoi ajoutez-vous des autorités qui ne sont pas soumises au code des relations entre le public et l’administration ?<a href="#authorities">#</a> </dt>

    <dd>
      <p><%= site_name %> vous permet de faire des requêtes à toutes sortes d'organisations :</p>

      <ul>
        <li> celles qui sont formellement soumises au CRPA ;</li>
        <li> celles qui acceptent volontairement de suivre le CRPA ;</li>
        <li> celles qui ne sont pas soumises au CRPA  mais dont nous pensons qu'elles devraient l’être, 
        car nous estimons qu'elles ont une responsabilité publique morale et donc une certaine obligation 
        de transparence.</li>
      </ul>

      <p>Dans ce cas, le but de <%= site_name %> est d’étendre le champ d’application de la loi sur le 
      droit d’accès à l'information. Même si une organisation n'est pas légalement obligée de répondre 
      à une requête, elle peut cependant le faire de son plein gré.
      </p>

    </dd>

    <dt id="focused">Pourquoi dois-je garder ma demande ciblée ?<a href="#focused">#</a> </dt>

    <dd>

      <p>
        Veuillez mettre dans votre demande seulement ce qui est nécessaire pour que 
        l’autorité puisse facilement identifier les informations que vous demandez. 
        Veillez à ne pas inclure les éléments suivants : 
      </p>

      <ul>
        <li>Informations ou arguments concernant un problème spécifique ou personnel.</li>
        <li>Vos coordonnées privées car votre demande sera publiée sur <%= site_name %>.</li>
        <li>Informations qui pourraient diffamer ou insulter des tiers.</li>
      </ul>

      <p>
        Si vous le faites, nous pourrions devoir supprimer votre demande pour éviter des 
        problèmes avec les législations sur la diffamation,... ce qui pourrait 
        vous/nous causer des problèmes.
      </p>

      <p>
        Plus les messages seront courts et précis, plus les autorités pourront vous aider efficacement et rapidement.
      </p>

      <p>
        Si vous utilisez une demande faite via <%= site_name %> pour écrire un blog ou un article, 
        pourriez-vous ajouter dans votre article un lien vers cette demande sur <%= site_name %> ? 
        Cela aidera de nouveaux citoyens à connaître l’outil <%= site_name %>
      </p>

    </dd>

    <dt id="fees">Est-ce que cela me coûte quelque chose de faire une demande ?<a href="#fees">#</a> </dt>

    <dd>

      <p>
        Faire une demande d'accès à l’information est gratuit (demandez les documents sous forme électronique). 
        Dans certains cas, les autorités publiques peuvent demander le paiement d’une somme pour couvrir les 
        frais de photocopies si les documents demandés doivent absolument être transmis sur papier mais la 
        plupart des documents peuvent être transmis par les autorités publiques par voie électronique simplement 
        en répondant à l’email que <%= site_name %> leur a envoyé.
      </p>

    </dd>



    <dt id="quickly_response">Quand vais-je recevoir une réponse à ma requête ? <a href="#quickly_response">#</a> </dt>

    <dd>
      <p>
        Selon la législation sur la Publicité de l’Administration, le délai de réponse est de 30 jours. 
        Pendant cette période de 30 jours, l’autorité administrative peut demander une prolongation de 
        15 jours du délai de réponse (si elle peut justifier que la transmission des informations demandées 
        requiert plus de temps). <%= site_name %> vous enverra un email si vous ne recevez pas de réponse 
        dans le délai légal.
      </p>
      </dt>
      <dt id="quickly_response">J’ai fait une demande d’accès à des documents administratifs avant la période d’urgence sanitaire. Puis-je toujours saisir la CADA ?<a href="#covid-19">#</a> </dt>
      <p>
      Si le délai d’un mois laissé à l’administration est écoulé avant la mise en place de la période d’urgence sanitaire (le 12 mars), 
      la saisine de la CADA s’exerce dans les conditions habituelles. Si l’expiration du délai du délai d’un mois laissé à l’administration pour 
      répondre à la demande de communication intervient pendant la période d’urgence sanitaire, 
      le délai d'un mois qui lui est imparti pour répondre est interrompu entre le 12 mars et le 24 juin 2020 et 
      recommence à courir ensuite. Il n'y a pas de refus implicite de l'administration permettant de saisir la CADA, 
      avant que la période restant à courir après le 24 juin soit terminée.
      </p>
    </dd>

    <dt id="no_response">Que faire si je ne reçois pas de réponse ?<a href="#no_response">#</a> </dt>

    <dd>
      <p>
        Il y a plusieurs actions que vous pouvez faire si vous ne recevez pas de réponse.
      </p>
      <ul>
        <li>
          Parfois, il peut y avoir eu un problème technique et l'autorité n'a peut-être pas 
          reçu votre demande (vu qu'elle est envoyée par email). N'hésitez pas à téléphoner 
          à l'autorité pour vérifier s'ils ont bien reçu votre demande.
        </li>
        <li>
          Si l’autorité ne l'a pas reçu, le problème est probablement causé par leur “filtre anti-spam”. 
          Référez-vous à la question “Je peux voir une demande sur <%= site_name %>, mais on n'a 
          jamais reçu d'email” dans la section “FAQ pour les autorités publiques” de cette rubrique d'aide.
        </li>
        <li>
          Si l’Autorité publique refuse de répondre ou si elle n’a pas répondu dans le délai légal, vous 
          pouvez lui envoyer une demande de reconsidération. Pour les autorités publiques qui sont soumises 
          à la législation sur la Publicité de l’Administration, vous pouvez également demander à la Commission 
          d’Accès au Documents Administratifs (CADA) de remettre un avis. Dans ce cas, vous devez envoyer le même 
          jour la demande de reconsidération à l’autorité publique et la demande d’avis à la CADA. Pour plus 
          d’information, lisez notre page 
          '<a href="<%= help_general_path(:action => 'unhappy') %>">Mécontent de la réponse que vous avez reçue ?</a>'.
      </ul>
    </dd>

    <dt id="not_satifised">Que faire si je ne suis pas satisfait de la réponse ? <a href="#not_satifised">#</a> </dt>
    <dd>
      Si vous ne recevez pas les informations que vous avez demandées ou que vous ne les avez pas reçues dans les délais, 
      lisez notre rubrique «'<a href="<%= help_general_path(:action => 'unhappy') %>">Mécontent de la réponse que vous avez reçue ?</a>'».
    </dd>

    <dt id="reuse">Ils m'ont répondu que je ne peux pas réutiliser les informations que j'ai reçues !<a href="#reuse">#</a> </dt>
    <dd>
      <p>
        Les autorités ajoutent parfois une note juridique au sujet de la “réutilisation des documents administratifs”, 
        qui, à première vue, implique que vous ne pouvez pas réutiliser cette information reçue. Vous pouvez, bien sûr, 
        écrire des articles basés sur ces informations ou en faire un résumé ou même citer des parties de celle-ci. 
        Chez <%= site_name %> nous prônons la transparence et nous estimons que vous devriez être libre de pouvoir publier 
        les informations dans leur intégralité, comme nous le faisons, même si, en théorie, ce n'est pas permis. 
        Voir notre <a href="https://doc.madada.fr/prada/gestion-des-demandes/#droit-dauteur">politique sur le droit d'auteur</a>.
      </p>
    </dd>

    <dt id="data_protection">Puis-je demander des informations sur moi-même ? <a href="#data_protection">#</a> </dt>

    <dd>
      <p>
        Non. Les demandes faites en utilisant <%= site_name %> sont rendues publiques. La plateforme ne peut donc pas être 
        utilisée pour demander des informations sur vous ou sur une autre personne privée. Si vous souhaitez connaître 
        les informations qu'une autorité publique détient sur vous, vous devriez faire une demande directement à 
        l’autorité sans passer par le site <%= site_name %>. Si vous voyez que quelqu'un a inclus des renseignements 
        personnels à votre sujet, peut-être involontairement, dans une demande, veuillez nous contacter afin que nous 
        puissions les retirer. Toujours en raison de la publication automatique sur le site des réponses des autorités 
        publiques, <%= site_name %> ne peut pas être utilisé pour demander des documents soumis au droit d’auteur.
      </p>
    </dd>


    <dt id="private_requests">Je voudrais que ma demande reste secrète (au moins jusqu'à ce que je publie mon article) <a href="#private_requests">#</a> </dt>

    <dd>
      <p>
        <%= site_name %> est actuellement conçu uniquement pour des demandes publiques. Si vous êtes journaliste et 
	souhaitez un délai d’exclusivité, contactez notre équipe <a href="contact@<%= AlaveteliConfiguration::incoming_email_domain %>">par email</a> pour une collaboration. 
        Par défaut toutes les réponses que nous recevons sont automatiquement publiées sur le site web afin que tout 
        le monde puisse les lire. Si vous souhaitez faire une demande non publique, vous devez contacter 
        directement l'autorité publique.
      </p>
    </dd>

    <dt id="eir">Puis-je faire la même requête à plusieurs autorités, par exemple “adressée à toutes les Communes” ? <a href="#eir">#</a> </dt>

    <dd>
      <p>
        Nous vous conseillons d'envoyer d'abord une version « test » de votre demande à quelques autorités. 
        Leurs réponses vous aideront à améliorer le libellé de votre demande, de sorte que vous obtiendrez une 
        meilleure information lorsque vous enverrez votre demande aux autres autorités. Il n'y a actuellement aucun 
        système automatisé pour envoyer une demande à plusieurs autorités, vous devrez copier et coller manuellement votre demande.
      </p>
    </dd>

    <dt id="multiple">J'ai fait une demande d'informations en dehors du site, comment puis-je la transférer sur <%= site_name %> ? <a href="#multiple">#</a></dt>

    <dd>
      <%= site_name %> archive les demandes d'informations faites par le biais du site. Il n’est pas possible d’archiver 
      d'autres types de données. L'une des raisons est qu'avec les demandes faites en dehors du site nous ne pouvons 
      pas vérifier si c’est bien l'autorité publique qui a répondu et quelle fut sa réponse. C’est pourquoi nous vous 
      conseillons de faire vos demandes directement via <%= site_name %>.
    </dd>

    <dt id="moderation">Comment modérez-vous les commentaires dans les demandes ? <a href="#moderation">#</a> </dt>

      <dd>
        <p>
          Les commentaires sur <%= site_name %> sont là pour aider les personnes à obtenir les informations 
          qu'ils recherchent. Nous nous réservons le droit de supprimer tout autre commentaire. 
          Les discussions politiques ne sont pas autorisées.
        </p>
      </dd>

  </dl>

  # <p><strong>A suivre:</strong> en savoir plus sur <a href="<%= help_privacy_path %>">notre politique de confidentialité</a> --&gt;

    <div id="hash_link_padding"></div>
</div>
